language: node_js
node_js:
  - '10'
cache:
  directories:
    - node_modules
    - $HOME/.npm

install:
  - npm install --no-optionals
  - npm run compile

stages:
  - name: test
  - name: deploy
    if: branch = master AND type != pull_request

jobs:
  include:
    - stage: test
      script: npm run lint && npm test -- unit
    - stage: deploy
      deploy:
        cleanup: false
        provider: npm
        email: tech@maas.global
        api_key: $NPM_TOKEN
      after_deploy: ./scripts/tag.sh
