language: node_js

node_js: 'node'

cache:
  directories:
    - node_modules
    - $HOME/.npm

install:
  - npm install
  - npm update

stages:
  - name: test
    if: type = pull_request AND branch != master
  - name: deploy
    if: branch = master AND type != pull_request

jobs:
  include:
    - stage: test
      script: npm run lint && npm test && npm run compile
    - stage: deploy
      script: skip
      deploy:
        provider: npm
        email: tech@maas.global
        api_key: $NPM_TOKEN
      after_deploy: ./scripts/tag.sh
